<div class="row">
    <div class="col-sm-12">

        <div class="panel ">
            <div class="panel-heading">
                <h3 class="panel-title">教学计划详情</h3>
            </div>
            <div class="panel-body">

                <form role="form" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">星期</label>

                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label" >星期五</label>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-2">上课时间</label>

                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label" >2017-05-02 09:12</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-3">下课时间</label>

                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label" >2017-05-02 15:12</label>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-4">课时数</label>

                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label" >4课时</label>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-5">教室/机房</label>

                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label" >计算机学院3号楼307</label>
                        </div>
                    </div>


                </form>

            </div>
        </div>

    </div>
</div>
			