<div class="page-container">
    <div class="sidebar-menu toggle-others fixed">

        <div class="sidebar-menu-inner">

            <header class="logo-env">

                <!-- logo -->
                <div class="logo">
                    <a href="dashboard-1.html" class="logo-expanded">
                        <p class="title" style="font-size: 20px">菜单管理</p>
                    </a>

                    <a href="dashboard-1.html" class="logo-collapsed">
                        <img src="assets/images/logo-collapsed@2x.png" width="40" alt="" />
                    </a>
                </div>

                <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                <div class="mobile-menu-toggle visible-xs">
                    <a href="#" data-toggle="user-info-menu">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-success">7</span>
                    </a>

                    <a href="#" data-toggle="mobile-menu">
                        <i class="fa-bars"></i>
                    </a>
                </div>

                <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
                <div class="settings-icon">
                    <a href="#" data-toggle="settings-pane" data-animate="true">
                        <i class="linecons-cog"></i>
                    </a>
                </div>
            </header>



            <ul id="main-menu" class="main-menu">
                <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
                <!--系统设置菜单项-->
                <li>
                    <a href="#">
                        <i class="linecons-cloud"></i>
                        <span class="title" style="font-size: 20px">系统设置</span>
                    </a>
                    <ul>
                        <li>
                            <a ui-sref="app.user">
                                <i class="entypo-flow-line"></i>
                                <span class="title" style="font-size: 16px">用户管理</span>
                            </a>
                            <div ui-view="dataContainer"></div>
                        </li>
                        <li>
                            <a ui-sref="app.authority">
                                <i class="entypo-flow-line"></i>
                                <span class="title" style="font-size: 16px">权限管理</span>
                            </a>
                            <div ui-view="dataContainer"></div>
                        </li>
                        <li>
                            <a ui-sref="app.role">
                                <i class="entypo-flow-line"></i>
                                <span class="title" style="font-size: 16px">角色管理</span>
                            </a>
                            <div ui-view="dataContainer"></div>
                        </li>
                        <li>
                            <a ui-sref="app.data">
                                <i class="entypo-flow-line"></i>
                                <span class="title" style="font-size: 16px">数据字典</span>
                            </a>
                            <div ui-view="dataContainer"></div>
                        </li>
                    </ul>
                </li>

                <!--列表设置菜单项-->
                <li>
                    <a href="#">
                        <i class="linecons-cloud"></i>
                        <span class="title" style="font-size: 20px">列表设置</span>
                    </a>
                    <ul>
                        <li>
                            <a ui-sref="app.classlist">
                                <i class="entypo-flow-line"></i>
                                <span class="title" style="font-size: 16px">班级列表</span>
                            </a>
                            <div ui-view="listContainer"></div>
                        </li>
                        <li>
                            <a ui-sref="app.studentlist">
                                <i class="entypo-flow-line"></i>
                                <span class="title" style="font-size: 16px">学生列表</span>
                            </a>
                            <div ui-view="listContainer"></div>
                        </li>
                        <li>
                            <a ui-sref="app.teachplanlist">
                                <i class="entypo-flow-line"></i>
                                <span class="title" style="font-size: 16px">教学计划列表</span>
                            </a>
                            <div ui-view="listContainer"></div>
                        </li>
                        <li>
                            <a ui-sref="app.signrecordlist">
                                <i class="entypo-flow-line"></i>
                                <span class="title" style="font-size: 16px">签到记录列表</span>
                            </a>
                            <div ui-view="listContainer"></div>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>
    <div class="main-content">
        <nav class="navbar user-info-navbar" role="navigation">
                <ul class="user-info-menu left-links list-inline list-unstyled">
                    <li class="dropdown user-profile">
                        <a href="#" data-toggle="dropdown">
                            <img src="assets/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
							<span>
								后爽
								<i class="fa-angle-down"></i>
							</span>
                        </a>
                    <ul class="dropdown-menu messages">
                        <li>

                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">

                                <li>
                                    <a href="#profile">
                                        <i class="fa-user"></i>
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="#help">
                                        <i class="fa-info"></i>
                                        Help
                                    </a>
                                </li>
                                <li>
                                    <a href="#settings">
                                        <i class="fa-wrench"></i>
                                        Settings
                                    </a>
                                </li>

                                <li class="last">
                                    <a ui-sref="login">
                                        <i class="fa-lock"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </li>

                <li class="dropdown hover-line">
                    <a href="#" data-toggle="dropdown">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-purple">7</span>
                    </a>

                    <ul class="dropdown-menu notifications">
                        <li class="top">
                            <p class="small">
                                <a href="#" class="pull-right">Mark all Read</a>
                                You have <strong>3</strong> new notifications.
                            </p>
                        </li>

                        <li>
                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                <li class="active notification-success">
                                    <a href="#">
                                        <i class="fa-user"></i>

											<span class="line">
												<strong>New user registered</strong>
											</span>

											<span class="line small time">
												30 seconds ago
											</span>
                                    </a>
                                </li>

                                <li class="active notification-secondary">
                                    <a href="#">
                                        <i class="fa-lock"></i>

											<span class="line">
												<strong>Privacy settings have been changed</strong>
											</span>

											<span class="line small time">
												3 hours ago
											</span>
                                    </a>
                                </li>

                                <li class="notification-primary">
                                    <a href="#">
                                        <i class="fa-thumbs-up"></i>

											<span class="line">
												<strong>Someone special liked this</strong>
											</span>

											<span class="line small time">
												2 minutes ago
											</span>
                                    </a>
                                </li>

                                <li class="notification-danger">
                                    <a href="#">
                                        <i class="fa-calendar"></i>

											<span class="line">
												John cancelled the event
											</span>

											<span class="line small time">
												9 hours ago
											</span>
                                    </a>
                                </li>

                                <li class="notification-info">
                                    <a href="#">
                                        <i class="fa-database"></i>

											<span class="line">
												The server is status is stable
											</span>

											<span class="line small time">
												yesterday at 10:30am
											</span>
                                    </a>
                                </li>

                                <li class="notification-warning">
                                    <a href="#">
                                        <i class="fa-envelope-o"></i>

											<span class="line">
												New comments waiting approval
											</span>

											<span class="line small time">
												last week
											</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="external">
                            <a href="#">
                                <span>View all notifications</span>
                                <i class="fa-link-ext"></i>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>


        <div class="page-title">
            <div class="title-env">
                <h1 class="title">欢迎进入考勤管理系统</h1>

            </div>
            <div class="breadcrumb-env">

                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="dashboard-1.html"><i class="fa-home"></i>Home</a>
                    </li>
                    <li>

                        <a href="tables-basic.html">Tables</a>
                    </li>
                    <li class="active">
                        <strong>Data Tables</strong>
                    </li>
                </ol>

            </div>
        </div>


        <ui-view name="mainContainer"></ui-view>

        <footer class="main-footer sticky footer-type-1">
            <div class="footer-inner">
                <!-- Add your copyright text here -->
                <div class="footer-text">
                    &copy; 2017
                    <strong>考勤管理系统</strong>
                </div>
                <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
                <div class="go-up">
                    <a href="#" rel="go-top">
                        <i class="fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>

</div>