<!DOCTYPE html>
<html>
<head>
    <title>Login One</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body class="templatemo-bg-gray" >
<div class="container">
    <div class="col-md-12">
        <h1 class="margin-bottom-15">登录</h1>
        <form class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30" role="form" >
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="control-wrapper">
                        <label for="username" class="control-label fa-label"><i class="fa fa-user fa-medium"></i></label>
                        <input type="text" class="form-control" ng-model="username" placeholder="Username" name="username" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="control-wrapper">
                        <label for="password" class="control-label fa-label"><i class="fa fa-lock fa-medium"></i></label>
                        <input type="password" class="form-control" ng-model="password" placeholder="Password" name="password" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox control-wrapper">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="control-wrapper">
                        <input type="submit" value="登录" class="btn btn-info" ng-click="login()">
                        <a ui-sref="findpwd" class="text-right pull-right">忘记密码?</a>
                    </div>
                </div>
            </div>
            <hr>   
        </form>
        <div class="text-center">
            <a ui-sref="register" class="templatemo-create-new">注册账号 <i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
    </div>
</div>
<!-- Errors container -->
<div class="errors-container">


</div>
<script type="text/javascript">
    jQuery(document).ready(function($)
    {
        // Reveal Login form
        setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);


        // Validation and Ajax action
        $("form#login").validate({
            rules: {
                username: {
                    required: true
                },

                password: {
                    required: true
                }
            },

            messages: {
                username: {
                    required: 'Please enter your username.'
                },

                password: {
                    required: 'Please enter your password.'
                }
            },

        });

        // Set Form focus
        $("form#login .form-group:has(.form-control):first .form-control").focus();
    });
</script>

</body>
</html>